{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Explore Our Service Categories</h2>
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <img src="{{ category.image }}" class="card-img-top" alt="{{ category.name }}" >
                <div class="card-body text-center">
                    <i class="{{ category.icon }} fa-2x mb-2 text-primary"></i>
                    <h5 class="card-title mt-2">{{ category.name }}</h5>
                    <p class="card-text">{{ category.description }}</p>
                       <a href="{% url 'providers_by_category' category.name %}" class="btn btn-primary btn-sm">View Providers</a>
               </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
